/* style.css file - myDesign */
* {
    box-sizing: border-box;
}

html, body {
	/* Base styles go here */
	font: 14px/1.5 Verdana, sans-serif;
	background: #fff;
	color: #222;
}

body {
	background: #fff;
	color: #000;
	border: 0px solid #eee;
	max-width: 680px;
    margin: 0 auto;
    padding: 0px;	
	min-height: 100vh;
    justify-content: center;  /* horizontálně */
    align-items: center;      /* vertikálně */	
	padding: 0px;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
	border: 0px solid #666;
	min-height: 100%;
	flex: 1;
	padding: 20px;
}
.header {
	border: 0px solid red;	
	padding: 0px;
	background: #fff;
	color: #999;
	font: 11px/1.0 Calibri, Verdana, sans-serif;
	display: flex;
    justify-content: center;  
    align-items: bottom;    
}
.header-left{
	border: 0px solid #666;
	text-align: left; 
	width: 400px;
}
.header-center {
	border: 0px solid #666;	
	text-align: center; 
	width: 200px;
}
.header-right{
	border: 0px solid red;
	text-align: right; 
	width: 80px;
}

.footer {
	padding: 10px 20px 10px 20px;
	margin: 0px;
	border: 0px solid #666;
	color: #999;
	font: 11px/1.0 Calibri, Verdana, sans-serif;
	display: flex;
    justify-content: center;  /* horizontálně */
    align-items: top;      /* vertikálně */	
}
.footer-left{
	border: 0px solid #666;
	text-align: left; 
	width: 200px;
}
.footer-center {
border: 0px solid #666;	
	text-align: center; 
	width: 280px;
}
.footer-right{
	border: 0px solid #666;
	text-align: right; 
	width: 200px;
}

.title {
	font: 23px/1 Calibri, Verdana, sans-serif;
	color: #800;
	font-weight: bold;
	border: 0px solid #666;
}

.hidiv {
	border: 1px solid #ccc;
	font: 14px/1.0 Calibri, Verdana, sans-serif;
	padding: 12px;
	margin: 4px;
}

h1 {
	font: 32px/2 Calibri, Verdana, sans-serif;
	border: 0px solid #666;
	color: #ccc;
	font-weight: bold;
	text-transform: lowercase;
}

h2 {
	font: 21px/2 Calibri, Verdana, sans-serif;
	border: 0px solid #666;
	color: #aaa;
	font-weight: bold;
	text-transform: uppercase;
}

.chapter {
}

.detaila_area {
	padding: 28px 0 28px 0;
	border: 0px solid #ccc;
}

details {
	padding: 12px 0 12px 0;
}

.form {
	border: 0px solid #ccc;
	padding: 0px;
}

form {
    text-align: left;
    background: #fff;
    font-family: sans-serif;
    display: inline-flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}
label {
    display: block;
    padding-bottom: 10px;
}
input[type=text],
input[type=email],
textarea {
    margin-bottom: 20px;
    box-sizing: border-box;
    display: block;
    padding:15px;
    border:1px solid #aaa;
    box-shadow: inset 0 2px 2px rgba(0,0,0,.1);
    width: 500px;
}
textarea {
    height: 140px;
}
button {
    background: orangered;
    color: #fff;
    border-radius: 5px;
    padding: 20px 50px;
    border:0;
    float: right;
    cursor: pointer;
    transition: 0.5s;
}
button:hover {
    background: crimson;
}

a {
    color: #000;              /* barva odkazu */
    text-decoration: none;    /* odstraní podtržení */
}
a:link {
    color: #000;              /* normální (nenavštívený) odkaz */
	text-decoration: underline	
}

a:visited {
    color: #000;            /* již navštívený odkaz */
	text-decoration: underline	
}

a:hover {
    color: #800;               /* když na něj najedeš myší */
    text-decoration: none;
}

a:active {
    color: #000;             /* při kliknutí */
}