/* myDesign styles */
html, body {
	/* Base styles go here */
	font: 14px/1.5 Verdana, sans-serif;
	background: #eee;
	color: #222;
}

body {
	background: #fff;
	color: #000;
	border: 0px solid #eee;
	max-width: 680px;
    margin: 0 auto;
    padding: 0px;	
	min-height: 100vh;
    justify-content: center;  /* horizontálně */
    align-items: center;      /* vertikálně */	
	padding: 0px;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
	border: 0px solid #fff;
	min-height: 100%;
	flex: 1;
	padding: 20px;
}
.header {
	padding: 10px 20px 10px 20px;
	background: #fff;
	color: #999;
}
.footer {
	padding: 10px 20px 10px 20px;
	margin: 0px;
	border: 0px solid #666;
	color: #999;
	font: 11px/1.0 Calibri, Verdana, sans-serif;
	display: flex;
    justify-content: center;  /* horizontálně */
    align-items: top;      /* vertikálně */	
}
.footer1{
	border: 0px solid #666;
	text-align: left; 
	width: 200px;
}
.footer2 {
border: 0px solid #666;	
	text-align: center; 
	width: 280px;
}
.footer3{
	border: 0px solid #666;
	text-align: right; 
	width: 200px;
}

.title {
	font: 21px/2 Calibri, Verdana, sans-serif;
	color: #999;
	border: 0px solid #666;
}

.hidiv {
	border: 1px solid #ccc;
	font: 14px/1.0 Calibri, Verdana, sans-serif;
}

h1 {
	font: 19px/2 Calibri, Verdana, sans-serif;
	border: 0px solid #666;
	color: #ccc;
	font-weight: bold;
	
}

h2 {
	font: 17px/2 Calibri, Verdana, sans-serif;
	border: 0px solid #666;
	color: #666;
	font-weight: bold;
}

.chapter {
}

#special {
}

.form {
	border: 0px solid #ccc;
	padding: 0px;
}

form {
    text-align: left;
    background: #fff;
    font-family: sans-serif;
    display: inline-flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}
label {
    display: block;
    padding-bottom: 10px;
}
input[type=text],
input[type=email],
textarea {
    margin-bottom: 20px;
    box-sizing: border-box;
    display: block;
    padding:15px;
    border:1px solid #aaa;
    box-shadow: inset 0 2px 2px rgba(0,0,0,.1);
    width: 500px;
}
textarea {
    height: 140px;
}
button {
    background: orangered;
    color: #fff;
    border-radius: 5px;
    padding: 20px 50px;
    border:0;
    float: right;
    cursor: pointer;
    transition: 0.5s;
}
button:hover {
    background: crimson;
}